* {
  font-family: Arial, sans-serif;
}

/* Shared styles for both forms */
.FullForm {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .FullForm button[type="button"] {
    width: 100%;
    height: 40px;
    background-color: rgb(83, 76, 175);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .FullForm button[type="button"]:hover {
    background-color: rgb(83, 76, 175);
  }
  
  /* Login Form styles */
  #login-form {
    padding: 20px;
  }
  
  #login-form p {
    margin-top: 0;
    font-size: 16px;
    color: #666;
  }
  
  #login-form input[type="text"],
  #login-form input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #login-form input[type="text"]:focus,
  #login-form input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #login-form a {
    font-size: 14px;
    color: #6193ff;
    text-decoration: none;
  }
  
  #login-form a:hover {
    text-decoration: underline;
  }
  
  #login-form button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: rgb(83, 76, 175);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #login-form button[type="submit"]:hover {
    background-color: rgb(83, 76, 175);
  }

  #status-message {
    /* add your styles here, e.g. */
    border: 1px solid #ccc;
    padding: 5px;
  }

  /* Signin Form styles */
  #signin-form {
    padding: 20px;
  }
  
  #signin-form p {
    margin-top: 0;
    font-size: 16px;
    color: #666;
  }
  
  #signin-form input[type="text"],
  #signin-form input[type="email"],
  #signin-form input[type="password"],
  #signin-form input[type="date"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #signin-form input[type="text"]:focus,
  #signin-form input[type="email"]:focus,
  #signin-form input[type="password"]:focus,
  #signin-form input[type="date"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #signin-form button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: rgb(83, 76, 175);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #signin-form button[type="submit"]:hover {
    background-color: rgb(83, 76, 175);
  }

  #login-status-message {
    /* add your styles here, e.g. */
    border: 1px solid #ccc;
    padding: 5px;
  }